<mat-toolbar>
    <mat-toolbar-row style="background: white;">
        <img src="../../../assets/img/logo.jpeg" alt="aep-logo" width="7%" (click)="goHome()">
        <div class="item-toolbar">
            <mat-list-item  routerLink="championship/" (click)="goCampeonatos()">Campeonatos</mat-list-item>
            <mat-list-item>Competidores</mat-list-item>
            <mat-list-item>Jueces</mat-list-item>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span (click)="logout()">Cerrar sesión</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>