<app-navbar></app-navbar>
<div class="campeonato-screen">

    <div class="card-content">
        <div class="head-table">
            <span>Foto</span>
            <span style="padding-left: 4%;">Nombre</span>
            <span style="padding-left: 0% ;">Categoria</span>
            <span style="padding-left: 0% ;">Fecha Nacimiento</span>
            <span style="padding-left: 2%;">Club</span>
            <span></span>
        
        </div>
        <div class="content-table">
            <app-competidores-item *ngFor="let competidores of competidores" [competidorInput]="competidores"></app-competidores-item>
        </div>
    </div>
</div>