.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;

    .image-circle {
        height: 80px;
        width: 80px;
        display: flex;
        object-fit: cover;
        img {
            object-fit: fill;
            width: 100%;
            border-radius: 50px;
        }
    }
}
